
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------nav---- */
:root {
    --primary-color : #5DC7A1;
    --secondary-color : #C84E2A;
    --backround-one : #ebfdf7;
    --box-shadow1 : #abbeb8;
    --box-shadow2 : #a3c0b6;

    --black : #000000;
    --white : #FFFFFF;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
::-webkit-scrollbar {
    width: 2px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 2.5px;
  }

header {
    background-color: #f8f8f8da;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pdNav {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 2px 2px rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  #navCrtIcon{
    display: none;
  }
header h1 {
    font-size: 24px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}


.cart-icon {
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}


main {
    background-color: #EBFDF7;
    padding: 20px;
    margin: 20px;
    height: 550px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-things{
    width: 60%;
 
   
}
.cart-things-2{
    width: 100%;
    height: 440px;
    overflow-y: auto;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 14px;
    color: #777;
}

input[type="number"] {
    width: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.summary {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}

.summary h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.summary p, .summary h3 {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

button {
    background-color: #5DC7A1;;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


footer {
    text-align: right;
    margin-top: 20px;
}

.empty-cart {
    background-color: #a4271ecb;
}
/* ------------------- */
/* cart.css */

.item {
    background-color: #ffffff; /* Example background color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.price {
    font-weight: bold;
}
