:root {
  --primary-color: #5dc7a1;
  --secondary-color: #c84e2a;
  --backround-one: #f6fcfa;
  --button-Backround1: #5dc7a1;
  --button-Backround2: #c84e2a;
  --button-Backround3: #153c2e;
  --button-Backround4: #153c2e;
  --box-shadow1: #abbeb8;
  --box-shadow2: #a3c0b6;

  --black: #000000;
  --white: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.disNone {
  display: none;
}

.checkout,
.addressDefault,
.checkoutAddress,
.totalCard1,
.totalCard2 {
  display: flex;
  flex-direction: column;
}

.checkout {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navBarCheckout {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 2px 2px rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectAddDiv,
.payment-container,
.cart-review-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartProfileIcon,
.checkout-payment-container,
.confirmationInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addNoteCreateBtn button,
.useAddressBtn button,
.button-container button,
#netBanking select,
.confirmBtn,
#CreateAddSubBtn {
  border: none;
  outline: none;
}

.checkoutAddress {
  width: 90%;
}

.processNav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.processNav hr {
  width: 100px;
  height: 2px;
  background-color: black;
  border: none;
}

.selectAddDiv {
  width: 100%;
  height: 458px;
  margin-top: 20px;
  background-color: var(--backround-one);
}
/* -----newAddress---- */

.newAddressDiv {
  width: 40%;
  height: 90%;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgb(214, 214, 214);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#CreateAddSubBtn {
  width: 250px;
  padding: 15px;
  position: relative;
  left: 58em;
  top: -305px;
  background-color: #153c2e00;
}

#newAddress {
  height: 95%;
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.selectAddDiv,
.addressDefault,
.totalCard1,
.totalCard2,
.useAddressBtn button,
.payment-container,
.cart-review-container,
.button-container button,
#netBanking select {
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--box-shadow1);
}
.selectAddress,
.paymentDiv {
  width: 95%;
  height: 90%;
}

.addNoteCreateBtn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.addNoteCreateBtn button {
  background-color: var(--button-Backround4);
  color: var(--white);
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--box-shadow2);
}

.addressListDiv {
  width: 100%;
  height: 90%;
  /* background-color: var(--white); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressList {
  width: 60%;
  height: 90%;
}

.addressDefault {
  width: 95%;
  height: 15%;
  margin-bottom: 10px;
  padding: 16px;
  background-color: white;
  /* border-radius: 5px; */
}

.addressDefault,
.totalCard1,
.totalCard2,
.payment-container,
.cart-review-container {
  border: 1px solid rgb(226, 226, 226);
}

.addressSelection {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.actionsAddress {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 22px;
}

.actionsAddress > * {
  color: var(--white);
  font-weight: 500;
}
.useAddressBtn button {
  background-color: var(--button-Backround3);
}
.edit-address {
  color: var(--button-Backround1);
}
.remove-address {
  color: var(--button-Backround2);
}

.totalCard1 {
  background-color: var(--white);
  width: 30%;
  height: 90%;
  align-items: center;
}
.totalCard2 {
  background-color: var(--white);
  width: 30%;
  height: 90%;
  align-items: center;
}

.useAddressBtn {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid grey;
}

.useAddressBtn button {
  color: var(--white);
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.useAddressBtn p {
  font-size: 12px;
  line-height: 16px;
}

#addPrdPrice span {
  margin-left: 50px;
  color: red;
}

#addPrdPrice span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.totalCalculation {
  border-bottom: 2px solid grey;
}

.totalCalculation span {
  line-height: 40px;
}

.checkout-payment-container {
  width: 100%;
  height: 90%;
}

.payment-container {
  width: 35%;
  height: 100%;
  background-color: var(--white);
}

.payment-container .payment-container-inner,
.payment-container .payment-container-inner > * {
  width: 90%;
}

.payment-method {
  margin-bottom: 15px;
}

#netBanking select {
  width: 60%;
  padding: 5px 10px;
  background-color: var(--white);
}

.payment-method input[type="radio"] {
  margin-right: 5px;
}

#credit-card,
#net-banking,
#cod {
  margin-bottom: 10px;
}

#cardImage,
#netBanking select,
#cod-info {
  margin-left: 20px;
}

.button-container button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--button-Backround3);
}

.cart-review-container {
  width: 28%;
  height: 80%;
  background-color: var(--white);
}

.cart-container {
  width: 90%;
}

#coupon-code {
  width: 95%;
  padding: 4px 5px;
  margin: 10px 0px;
}

.fontWeight {
  font-weight: 700;
}

/* -----------sidebar------------------ */

.plaSidediv {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--white);
  height: 650px;
  cursor: pointer;
  border-right: 1px solid grey;
}

.plaSideNavMain {
  margin-top: 30px;
  padding: 0px 15px;
  height: 620px;
}

.plaSideNav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#plaSideNavList1 {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#plaSideNavList {
  padding: 15px 0px 15px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

#plaSideClose {
  position: relative;
  top: -10px;
  right: 5px;
  margin-left: 235px;
}

.plasidebdy {
  display: flex;
}

.plasidenavhead {
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--primary-color);
  width: 60%;
  border-radius: 5px;
}

#plaCategoryList {
  padding: 10px 0px 10px 50px;
  width: 90%;
}

.plaSidenavhide {
  display: none;
}

.plaSideblock {
  display: block;
}

.plaAgriKart,
.AgriKartPlp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}
