@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  font-style: normal;
}
:root {
  --primary-color : #5DC7A1;
  --button-backround : #153c2e;
  --secondary-color : #C84E2A;
  --backround-one : #ebfdf7;
  --box-shadow1 : #e4e4e4;
  --box-shadow2 : #a3c0b6;
  --border-colour:  darkred  ;

  --star:#ffe234;
  
  --black : #000000;
  --white : #FFFFFF;
}
body {
  margin: 0 ;
  overflow-x: hidden;
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.pdNav {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  /* margin-bottom: 20px; */
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 2px 2px rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.product-container {
  /* margin-top: 20px; */
display: flex;
justify-content: start;
align-items: start;
gap: 100px;

}
.related_line{
width: 2%;
height: 42px;
background-color:var(--primary-color);
border-radius: 8px;
}


.related_head{
   display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 8%;
    padding-left: 5%;
   text-align: center;
}
.related_head h4{
  text-align: center;
  padding-top: 1%;
}

.img-card{
  
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  position: relative;
  left: 1em;

}
.main-img{
  width: 445px;
  height: 445px;
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  margin: 0;
  justify-content: center;
align-items: center;
box-shadow:var(--box-shadow2);
  
  object-fit: cover;
}
.heart-container{
  height: 70%;
}
.img-card img {
  width: 75%;
  height: 70%;

}

.small-Card {
  display: flex;
  justify-content: start;

  align-items: center;
  margin-top: 15px;
  gap: 5%;
  width: 400px;
}

.small-Card img {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  cursor: pointer;

}

.button{
  position: relative;
  top: 40px;
  display: flex;
  gap: 42%;
  left:29px;
}

.small-Card img:active {
  border: 1px solid  var(--primary-color);
}

.sm-card {
  border: 2px solid var(--border-colour);
}

.product-info{
  margin-top: 5%;
  width: 50%;
 
}
.product-info h3 {
  font-size: 32px; 
  font-weight: 600;  
  /* line-height: 130%; */
  margin-bottom: 3%;
  color: var(--secondary-color);
}
.product-info h2 {
margin-top: 3%;
margin-bottom: 3%;
 
}

.product-info h5 {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  margin: 6px 0;
}
.product-info li{
  line-height: 20px;
  padding: 6px;
}

.product-info del {
  color:var(--secondary-color);
}

.product-info p {
  color: var(--box-shadow2);
  width: 77%;
}

.quantity{
  /* margin-top: 5%; */
  width: 320px;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.sizes p {
  font-size: 22px;
  color: var(--black);
}

.size-option {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px;
}

#quantity {
  margin: 10px;
}

.quantityIcon {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.quantity input {
  width: 40px;
  height: 33px;
  padding: 6px;
  text-align: center;

}

.quantityIcon i {
  text-align: center;
  font-size: 20px;
  width: 28px;
  padding: 3px 0px;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid grey; */
  box-shadow: 0px 1px 3px 1px grey;
}


.add_card {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}


.add_card button {
  width: 105px;
  background: var(--button-backround);
  border-radius: 4px;
  margin-right: 10px;
  border: none;
  color: var(--white);
  font-weight: 600;
  color: var(--white);
  padding: 10px 2px;
}


button:hover {
  background:  #205b45;
  color: white;
  transition: ease-in 0.2s;
  cursor: pointer;
}

button:active {
  padding: 8px 0px;
  transition: ease-in 0.2s;
}


.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: var(--box-shadow2);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
}

hr {
  color: var(--box-shadow2);
  width: 58%;
  opacity: 0.67;
}

.main-container{
    color: var(--box-shadow2);
    margin: 15px 0;
    cursor: pointer;
     padding: 0 30px;
}

#search_bar{
width: 17%;
height: 32px;
border-radius: 9px;
border: 0;

}

.related-products{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.related-items-div{
width: 90%;
margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 5%;
  padding-bottom: 20px;
}

.related-item{
max-width: 256px;
width: 100%;
padding: 20px 20px 0 20px;
box-shadow: 0px 1px 5px 1px var(--box-shadow1);
}

.related-items-div{
display: flex;
}

img.item-img {
  width: 196px;
  height: 174px;
  margin-left: 4%;
}

.related-item >h3{
  margin-top: 10px;
}

.product-details {
  width: 35%;
  padding: 20px;
  border: var(--box-shadow1);
  box-shadow: 0px 1px 5px 1px var(--box-shadow1);
  margin-top: 4%;
  margin-right: 4%;
}
.product-details h2{
  color:var(--secondary-color);
  text-align: center;
  padding: 8px;
  margin-bottom: 23px;
  padding: 10px;
}
.product-details li {
  margin-left: 4%;
  padding: 10px;
}

.product-details h2{
text-align: center;

}
.product-details h3{
margin-left: 5%;
}
.product-details h5{
margin-left: 5%;
}
.product-details p{
margin-left: 5%;
}
.product-details label{
margin-left: 5%;
}

.related-items-div a{
color: var(--secondary-color);
}

.related-items-div a:hover{
color: var(--primary-color);
}

span.star {
color: var(--star);
position: relative;
left: 45%;
top: -10%;
}

span.star-price {
color: var(--star);
position: absolute;
left: 45%;
top: 30%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff00;
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0f5111;
    border-radius: 4px;
  }
  .fa-heart:before {
    content: "\f004";
    margin-left: 80%;
}

 
.product-details del {
  color: var(--secondary-color);
}

.related-item del{
  color: var(--secondary-color);
}
