@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    max-width: 1440px;
    width: 100%;
}
#bakgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.Registermaincondainer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: 578px;
    width: 572px;
    border-radius: 15px;
    left: 370px;
    top: 38px;
    display: none;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#loginNavlink {
    text-decoration: none;
    color: #779341;
}

#hi {
    font-size: 12px;
}

#ResgisterWelcome {
    font-size: 24px;
}

#RegisterText {
    font-size: 28px;
    height: 40px;
    color: #008000;
}

.nameDetailes {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

#fisrstName,
#lastname {
    width: 205px;
    height: 37px;
    border-radius: 9px;
    margin-top: 5px;

}
input{
    text-indent: 10px;
}
input:focus {
    outline: 1px solid #008000;
    border: none;
}

#Continfo {
    width: 430px;
    height: 37px;
    border-radius: 9px;
    margin-top: 8px;

}

#emailinfo {

    width: 430px;
    height: 37px;
    border-radius: 9px;
    margin-top: 8px;

}

#pwordinfo {
    width: 430px;
    height: 37px;
    border-radius: 9px;
    margin-top: 8px;
}

.contactDetailes {
    margin-top: 8px;
}

.emailDetailes {
    margin-top: 8px;
}

.pworDetailes {
    margin-top: 28px;
}

.inputDetailes {
    width: 75%;

    margin-left: 64px;
}
.Welcomecontainer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#alredyaccount {
    margin-top: 15px;
}
#RegisterBtn {
    width: 236px;
    height: 45px;
    border: 15px;
    background-color: #008000;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
.RequiredStar{
    color: red;
}

#companyname {
    color: #779341;
}

.label {

    font-size: 16px;
}

#loginspan {
    color: #008000;
}

input::placeholder {
    padding-left: 10px;
}

.RegTOLoginNav {
    text-decoration: none;
    color: white;
}
.RegiBtnContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.homenavcontainer{
    position: absolute;
}
/* .navHmoneBtn{
    width: 80px;
    height: 36px;
    position: absolute;
    left: 90%;
    top: 2%;
    background-color: transparent;
    border: 1px solid  black;
    border-radius: 5px;
    
} */

#HomeNabBtn{
  color: black;
  text-align: end;
  margin-right: 30px;
  font-size: 14px;
}
#HomeSpan{
color: #779341; 
}
#HomeSpan a{
    color: #779341; 
text-decoration: none;
}
/* -----------------------Pword TOOL TIP ---------------------------------------------- */

.tooltipCondainer {
    position: absolute;
    width: 270px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 540px;
    padding: 10px;
    border: 3px solid #008000;
    bottom: 50px;
    display: none;
}

.tooltipText {
    margin-left: 15px;
}

.fa-user-xmark {
    color: red;
}

.fa-user-check {
    color: #008000;
}

#rightSimple {
    position: absolute;
    right: 270px;
    font-size: 20px;
    color: #008000;
}

.ToolTipView {
    display: block;
}

/* -----------------------------------Email ToolTip -------------------------------------- */


.EmailToolTip {
    position: absolute;
    width: 300px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 545px;
    padding: 11px;
    border: 3px solid #008000;
    bottom: 170px;
    display: none;
}

.EmailtooltipText {
    margin-left: 15px;
}

#EmailrightSimple {
    position: absolute;
    right: 300px;
    font-size: 20px;
    color: #008000;
}

.emilTooltipView {
    display: block;
}

/* ------------------FIRSET NAME ALERT CLASSLIST-------------------------------------- */

.RegfnamNoView {
    visibility: hidden;
}

.FirstnameBorder {
    border: 1px solid gray;
}

.RegborderAlert {
    border: 1px solid red;
    animation: shake .5s;
}

.RegContainerView {
    visibility: visible;
    color: red;
}

/* --------------------SECOND NAME ALERT MESSAGE  CLASSLIST------------------------------------------------ */

.SecondNameNoView {
    visibility: hidden;
}

.LastNameInput {
    border: 1px solid grey;
}

.secondnameAlert {
    border: 1px solid red;
    animation: shake .5s;
}

.SecondNameView {
    visibility: visible;
    color: red;
}

.LatRegInput {
    border: 1px solid gray;
}

/* --------------------------CONTACT ALERT MESSAGE CLASSLIST------------------------ */

.RegAlertNoView {
    visibility: hidden;
}

.contBorder {
    border: 1px solid grey;
}

.RegAlertView {
    visibility: visible;
    color: red;
}

.contAlertBorder {
    border: 1px solid red;
    animation: shake .5s;
}

.emailBorder {
    border: 1px solid grey;
}

.PWordBorder {
    border: 1px solid grey;
}
/* -------------------------------------------- ALERTBOX ------------------------------------------ */

.emailAlretBox{
    border: 1px solid red;
    animation: shake .5s;
    
}

.pssworAlertBox{
    border: 1px solid red;
    animation: shake .5s;
}

.contAlertBox{
    border: 1px solid red;
    animation: shake .5s;
}
/* --------------------------------OTP ------------------------------- */


.OTPmaincondainer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 431px;
    height: 480px;
    border-radius: 32px;
    left: 400px;
    top: 80px;
    display: none;
}

#MailsendOTP {
    display: flex;
    gap: 19px;
    margin-top: 16px;
    margin-left: 30.4px;
}

.mailsendcercul {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0.8px solid #4285F4;
    width: 350px;
    height: 48px;
    border-radius: 7px;
    text-align: center;
}

#verifytext {
    font-size: 16x;
    margin: 80px 0 24px 152px;
}

#OTPsapn {
    color: #779341;
}

#OTPPara {
    font-size: 12.8px;
    margin-top: 40px;
    margin-left: 30.4px;
}

#yourOTP {
    font-size: 11px;
    margin-top: 19px;
    margin-left: 30.4px;
}

#resentOTP {
    font-size: 12.8px;
    text-decoration: underline;
    margin: 32px 0 0 311.2px;
}

#MailverifyBtn {
    width: 188px;
    height: 43px;
    border-radius: 8px;
    background-color: #008000;
    color: white;
    border: none;
    margin: 32px 0 0 122.4px;
}

.OTP-TO-LoginNav {
    color: white;

    text-decoration: none;
}

/* ---------------------------------------------OTP VIEW --------------- */


.ConTainerView {
    display: block;
}

.NOTValid {
    border: 1px solid rebeccapurple;
}

@keyframes shake {

    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(-4px);
    }
}
