
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
/* ----------------nav---- */
:root {
    --primary-color : #5DC7A1;
    --secondary-color : #C84E2A;
    --backround-one : #ebfdf7;
    --box-shadow1 : #abbeb8;
    --box-shadow2 : #a3c0b6;

    --black : #000000;
    --white : #FFFFFF;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 2px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 2.5px;
  }

.pdNav {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 2px 2px rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
  }

.wishbox{
    width: 97%;
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    background-color: #EBFDF7;
   
}

.container{
    width: 95%;
}
.wishlist-title {
    font-size: 24px;
    font-weight: bold;
     /* margin-top: 20px; */
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

.wishlist-title i {
    color: red;
    margin-left: 10px;
}

.wishlist-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    
}

.wishlist-table th {
    text-align: left;
    padding: 10px;
    background-color: white;
    /* border-bottom: 1px solid #ccc; */
}
.wishlist-table-body{
    width: 100%;
    height: 426px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* position: relative; */
    overflow-y: auto;
}
tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    border-bottom: 1px solid #ccc;
}
.wishlist-table td {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
}

.wishlist-table td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.wishlist-table td .prd-img{
    display: flex;
} 
.wishlist-table td .product-info {
    margin-left: 20px;
}

.wishlist-table td .product-info h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.wishlist-table td .product-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.wishlist-table td .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.wishlist-table td .product-status {
    font-size: 14px;
    color: #777;
}

.wishlist-table td .product-status span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.wishlist-table td .product-status .in-stock {
    background-color: green;
}

.wishlist-table td .product-status .out-of-stock {
    background-color: red;
}

.wishlist-table td .product-action {
    text-align: right;
}

.wishlist-table td .product-action button {
    background-color: #5DC7A1;
    color: white;
    border: none;
    border-radius: 4px;
   
    padding: 10px 20px;
    cursor: pointer;
}

.wishlist-table td .product-action button:hover {
    background-color: #5DC7A1;
}


